<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>🌐 Sistema Web</h1>
        <nav>
            <a href="{{url_for('index')}}">Início</a>
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Cadastro</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - Desenvolvido por Flauber Sauan</p>
    </footer>
</body>
</html>
